.DiaryList .menu_bar {
  display: flex;
  gap: 10px;
  margin: 20px 0px;
}

.DiaryList .menu_bar select {
  background-color: rgb(236, 236, 236);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.DiaryList .menu_bar button {
  /* 최소 너비를 지정했었기 때문에 
  flex1로 하면 나머지 공간에 채워짐 == 어디서 최소 너비...? */
  flex: 1;
}
